
<h5 class="mb-2">Your Recipies (<%= @recipes.length %>)</h5>
<hr />
<div class="row">
    <% @recipes.each do |recipe| %>
     <%= render partial: "shared/recipe_display", locals: {recipe: recipe} %>
    <% end %>
</div>







