<div class="container">
    <div class="card text-center ">
        <h1><%= @recipe.name %></h1>
        <div class="card-header d-flex">
            <p><i class="fa fa-clock-o" aria-hidden="true"></i> Preparation time: <%= @recipe.preparation_time %></p>
            <p><i class="fa fa-clock-o" aria-hidden="true"></i> Cooking time: <%= @recipe.cooking_time %></p>
        </div>
    </div>
</div>

