<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>The Recipe App team</p>
<p>
<i> <b>Note: </b> </i> <br />
<i> If you did not request this email, please ignore it.</i> <br />
<i> Check your spam folder if you do not see the email in your inbox.</i>
</p>